<div class="container box">
  <h1>Home Page</h1>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam condimentum metus non laoreet semper. Pellentesque efficitur tortor at sem imperdiet fermentum. Maecenas eget tortor molestie, lobortis massa vitae, facilisis orci. Fusce vulputate pellentesque tellus sit amet pellentesque. Quisque quis dapibus lacus. Donec quis enim vel purus fringilla accumsan. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam vitae efficitur enim. Nulla vestibulum aliquam mi quis rutrum. Sed pretium ac lectus a iaculis. Nulla et scelerisque sem, facilisis consequat augue. Integer vitae euismod neque. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Aliquam ultrices congue metus ut imperdiet.</p>
</div>
